# directories
cache
node_modules
#out

# files
*.env
*.log
.DS_Store
.pnp.*
lcov.info
yarn.lock

# broadcasts
# !broadcast
# broadcast/*
# broadcast/*/31337/

.idea

.wake
out/*
broadcast/*
script/system_staged_deploy/testnet_migrate/data/*
.env
pytypes
__pycache__/
*.py[cod]
.hypothesis/
wake-coverage.cov